name: Build and Deploy Spring Boot

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd ${{ secrets.SERVER_WORKING_DIRECTORY }}
            echo "Pulling latest changes..."
            git reset --hard
            git clean -fd
            git pull origin main

            echo "Stopping Docker containers..."
            sudo docker compose --env-file ${{ secrets.SERVER_ENV_FILE_LOCATION }} down

            echo "Starting Docker containers..."
            sudo docker compose --env-file ${{ secrets.SERVER_ENV_FILE_LOCATION }} up --build -d